*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --page-font-size: 16px;
  --page-line-height: 1.5;
  --page-bg-color: #A1C3FF;
  --heading-margin-bot: 15px;
  --page-container-width: 1100px;
  --text-color: white;
  --header-bg-color: #3474E6;
  --header-height: 60px;
  --header-link-hover-color: lightblue;
  --main-bg-color: #0A51CC;
  --navbar-li-left-margin: 20px;
  --main-h1-font-size: 3rem;
  --main-h1-line-height: 1.2;
  --box-bg-color: #0A51CC;
  --box-border-rad: 10px;
  --box-margin: 20px 10px;
  --box-padding: 15px 20px;
  --icon-right-margin: 10px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  color: var(--text-color);
  background-color: var(--page-bg-color);
}

img {
  max-width: 100%;
}

h1, h2 {
  margin-bottom: var(--heading-margin-bot);
}

ul {
  list-style-type: none;
}

/* Nav Bar */

/* Hero */

/* Boxes */



.container {
  max-width: var(--page-container-width);
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  background: var(--header-bg-color);
  height: var(--header-height);
}

.header .logo {
  font-size: x-large;
  font-weight: bold;
}

.header a {
  color: var(--page-text-color);
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  color: var(--header-link-hover-color);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header ul {
  display: flex;
}

.header ul li {
  margin-left: var(--navbar-li-left-margin);
}

main {
  background-color: var(--main-bg-color);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: var(--main-h1-font-size);
  font-weight: bold;
  line-height: var(--main-h1-line-height); 
}

main p {
  font-size: calc(var(--main-h1-font-size) * .35);
}

main img {
  max-width: 400px;
}

main .hero-container {
  display: flex;
}

.hero-container, .boxes {
  margin: 2rem;
  margin-bottom: 0;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: var(--box-bg-color);
  border-radius: var(--box-border-rad);
  margin: var(--box-margin);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: var(--box-padding);
  background-color: var(--page-bg-color);
  color: rgba(0, 0, 0, 0.6);
}

.box i {
  margin-right: var(--icon-right-margin);
}

@media (max-width: 768px) {
  main .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}




